html {
  --sp-orange: #ffcc00;
  --sp-orange-dark: #dfb300;
  --sp-yellow: var(--bs-yellow);
  --bs-dropdown-divider-bg: var(--bs-gray-400);
  --bs-btn-hover-bg: var(--sp-orange);
  --bs-btn-active-bg: var(--sp-orange);
  --bs-btn-hover-border-color: var(--sp-orange-dark);
  --bs-btn-active-border-color: var(--sp-orange-dark);
}

body {
  background-color: var(--bs-gray-200);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  background-color: black;
  background-image: url("/assets/images/sterne.webp");
  padding: 1rem;
  color: var(--sp-orange);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

h1 > span.mi {
  font-size: calc(1.375rem + 1.5vw);
  vertical-align: sub;
  margin-right: 0.8rem;
}

.offcanvas .dropdown-item:hover,
.offcanvas .list-group-item:hover {
  background-color: var(--bs-gray-800) !important;
}

a {
  color: var(--bs-gray-700);
}

a:hover {
  color: var(--bs-gray-700);
  text-decoration: none;
}

div.card,
.alert,
ol,
ul,
p {
  max-width: 50rem;
}

.alert > p {
  margin-bottom: 0;
}

.card-svg {
  max-width: none !important;
}

.card-svg .card-body {
  max-height: 75vh;
}

.card-svg img {
  width: 100%;
}

.bg-sterne {
  background-color: black;
  background-image: url("/assets/images/sterne.webp");
}

.bg-yellow {
  background-color: var(--sp-orange);
}

table {
  caption-side: top;
}

caption {
  white-space: nowrap;
}

caption,
tfoot td,
th {
  background-color: var(--sp-orange);
  color: black;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--bs-gray-200);
  font-weight: normal;
}

td {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--bs-gray-200);
}

td > ul:last-child,
td > ol:last-child,
td > p:last-child {
  margin-bottom: 0;
}

tr.selected > td {
  background-color: var(--sp-orange) !important;
}

tbody:not(:last-child) tr:last-child td {
  border-bottom: 1px solid var(--sp-orange);
}

.card-body p:last-child {
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}

main ul {
  list-style-type: square;
}

aside img {
  max-width: 100%;
}

.page-link:hover,
.btn-yellow,
.btn-yellow:hover,
.btn-yellow.active {
  color: var(--bs-gray-900);
  background-color: var(--sp-orange);
  border-color: var(--sp-orange-dark) !important;
}

@font-face {
  font-family: "Bootstrap Icons";
  src: url("/assets/bootstrap-icons.woff2") format("woff2");
  font-display: block;
}

.mi {
  font-family: "Bootstrap Icons";
  font-size: 1rem;
  line-height: 1;
}

.bg-spielregeln {
  background-image: url("/assets/images/startseite0.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-weltraum {
  background-image: url("/assets/images/sternenkarte-quadrat.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-abenteuer {
  background-image: url("/assets/images/startseite1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-publikationen {
  background-image: url("/assets/images/startseite3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-zufallstabellen {
  background-image: url("/assets/images/bg-zufallstabellen.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-ideenhalde {
  background-image: url("/assets/images/bg-ideenhalde.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-startunes {
  background-image: url("/assets/images/bg-startunes.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.mt-6 {
  margin-top: 6rem !important;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

input:focus,
button:focus {
  box-shadow: none !important;
}

.dice {
  cursor: pointer;
}

.diceresult {
  background-color: var(--bs-gray-100);
  padding: 0.2rem;
  margin-left: 0.5rem;
  border-radius: 0.2rem;
}

#startunessong {
  margin-top: 15rem;
}

.col-thumbnail {
  flex-grow: 0;
  flex-shrink: 1;
}

.border-black {
  border-color: black !important;
}

.tbl-collapsed {
  display: inline-block;
}

.tbl-collapsed table {
  display: none;
}

img.max-w {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.9rem;
}

#searchResult a,
#searchResult a:hover {
  color: inherit;
}

[data-bs-theme="dark"] {
  color: var(--bs-gray-100);
}

#inputSearch {
  color: var(--bs-gray-900);
  background-color: var(--bs-gray-200);
}

th[data-sort="asc"]::before {
  content: "\F128";
  float: right;
  font-family: "Bootstrap Icons";
}

th[data-sort="desc"]::before {
  content: "\F148";
  float: right;
  font-family: "Bootstrap Icons";
}

input.filter-table {
  display: block;
}

ul.sitemap,
ul.sitemap ul {
  list-style-type: none;
}

ul.sitemap li {
  margin-top: 0.5rem;
}

ul.sitemap ul {
  display: none;
  padding-left: 1.6rem;
}

a.sm-expand {
  font-family: "Bootstrap Icons";
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  margin-right: 0.6rem;
}

ul.sitemap a {
  color: var(--bs-gray-200);
  text-decoration: none;
}

ul.sitemap {
  padding-left: 1rem;
}

.offcanvas-body > ul {
  padding-left: 1rem;
}

.sm-current > a {
  color: var(--sp-orange) !important;
  text-decoration: none;
}

.yellow a,
.yellow a:hover {
  color: var(--bs-gray-900);
  background-color: var(--sp-yellow);
  border-color: var(--sp-orange-dark) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-gray-900);
  background-color: var(--sp-orange);
}

.nav-link,
.nav-link:hover {
  color: var(--sp-orange);
}

#top-bar {
  border-bottom: 1rem solid var(--bs-gray-200);
}

#top-bar > div {
  min-height: 2rem;
}

.form-control:focus {
  border-color: var(--sp-orange);
}

@media (width >= 1200px) {
  aside > table {
    width: 100%;
  }

  aside {
    padding-left: 2rem !important;
  }
}

@media (width < 1400px) {
  .offcanvas {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (width >= 1400px) {
  #main-menu-btn {
    display: none !important;
  }

  .container-xxl {
    max-width: 1680px;
  }

  .offcanvas {
    transform: none !important;
    transition: none;
    visibility: visible;
    position: sticky;
    left: unset !important;
    top: 4rem !important;
    height: 100%;
    min-width: unset;
    width: 25% !important;
    overflow: hidden;
    max-height: calc(100vh - 9.5rem);
    background-color: transparent;
    color: var(--bs-gray-900);
  }

  .offcanvas-header img,
  .offcanvas-header .btn-close {
    display: none;
  }

  .offcanvas nav {
    margin-top: 0 !important;
  }

  .offcanvas-header {
    background-color: var(--bs-gray-300);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .offcanvas-body {
    padding-bottom: 0.5rem !important;
    background-color: var(--bs-gray-300);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .offcanvas .nav-pills .nav-link,
  .offcanvas ul.sitemap a {
    color: var(--bs-gray-900);
  }

  .offcanvas .list-group-item {
    background-color: transparent;
  }

  .offcanvas .dropdown-item:hover,
  .offcanvas .list-group-item:hover {
    background-color: var(--bs-gray-400) !important;
  }

  .offcanvas .dropdown-divider {
    border-top: 1px solid var(--bs-gray-900);
  }

  .offcanvas li.sm-current > a {
    color: var(--sp-orange-dark) !important;
  }
}
