---
---

{% include_relative bootstrap.min.css %}

html {
  --bs-dropdown-divider-bg: #ced4da;
  --bs-btn-hover-bg: #ffcc00;
  --bs-btn-active-bg: #ffcc00;
  --bs-btn-hover-border-color: #dfb300;
  --bs-btn-active-border-color: #dfb300;
}

body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.offcanvas .dropdown-item:hover,
.offcanvas .list-group-item:hover {
  background-color: #343a40 !important;
}

a {
  color: #555;
}

a:hover {
  color: #555;
  text-decoration: none;
}

a.text-light:hover {
  color: #ffcc00;
}

div.card,
.alert,
ol,
ul,
p {
  max-width: 50rem;
}

.alert > p {
  margin-bottom: 0;
}

.card-svg {
  max-width: none !important;
}

.card-svg .card-body {
  max-height: 75vH;
}

.card-svg img {
  width: 100%;
}

.bg-sterne {
  background-color: black;
  background-image: url("{{ site.baseurl }}/assets/images/sterne.jpg");
}

.bg-yellow {
  background-color: #fc0;
}

table {
  caption-side: top;
}

caption {
  white-space: nowrap;
}

caption,
tfoot td,
th {
  background-color: #fc0;
  color: black;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ececec;
  font-weight: normal;
}

td {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ececec;
}

td > ul:last-child,
td > p:last-child {
  margin-bottom: 0;
}

tr.selected td {
  background-color: #fc0 !important;
}

tbody:not(:last-child) tr:last-child td{
  border-bottom: 1px solid #ffcc00;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}

main ul {
  list-style-type: square;
}

.breadcrumb > span {
  margin-top: -0.1rem;
}

.page-link:hover,
.btn-yellow,
.btn-yellow:hover
.btn-yellow.active {
  color: #212529;
  background-color: #ffcc00;
  border-color: #dfb300 !important;
}

@font-face {
  font-family: 'Bootstrap Icons';
  src: url(/assets/bootstrap-icons.woff2) format('woff2');
}

.mi {
  font-family: 'Bootstrap Icons';
  font-size: 1.2rem;
  line-height: 1;
}

.bg-spielregeln {
  background-image: url("{{ site.baseurl }}/assets/images/startseite0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-weltraum {
  background-image: url("{{ site.baseurl }}/assets/images/sternenkarte-quadrat.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-abenteuer {
  background-image: url("{{ site.baseurl }}/assets/images/startseite1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-publikationen {
  background-image: url("{{ site.baseurl }}/assets/images/startseite3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-zufallstabellen {
  background-image: url("{{ site.baseurl }}/assets/images/bg-zufallstabellen.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-ideenhalde {
  background-image: url("{{ site.baseurl }}/assets/images/bg-ideenhalde.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-startunes {
  background-image: url("{{ site.baseurl }}/assets/images/bg-startunes.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mt-6 {
  margin-top: 6rem !important;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

input:focus,
button:focus {
  box-shadow: none !important;
}

#dropdownSearch {
  min-width: 20rem;
  margin-right: 2rem !important;
  margin-top: -1.5rem !important;
}

.dice {
  cursor: pointer;
}

.diceresult {
  background-color: #f8f9fa;
  padding: 0.2rem;
  margin-left: 0.5rem;
  border-radius: 0.2rem;
}

#startunessong {
  margin-top: 15rem;
}

.col-thumbnail {
  flex-grow: 0;
  flex-shrink: 1;
}

.border-black {
  border-color: black !important;
}

a#totop {
  display:block;
  width: 19px;
  height: 12px;
  background-image: url(/assets/images/totop.png);
  text-decoration: none;
  opacity: 0.2;
}

a#totop:hover {
  opacity: 0.6;
}

.tbl-collapsed {
  display: inline-block;
}

.tbl-collapsed table {
  display: none;
}

img.max-w {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  text-align: center;
}

#searchResult a,
#searchResult a:hover {
  color: inherit;
}

[data-bs-theme="dark"] {
  color: #f8f9fa;
}

#inputSearch {
  color: #212529;
}
