<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/default.css"/>
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon"/>
    <link rel="alternate" type="application/rss+xml"  href="{{ site.baseurl }}/feed.xml" title="{{ site.title }}"/>
  </head>
  <body>
    <div data-bs-theme="dark" class="offcanvas offcanvas-start" tabindex="-1" id="main-menu">
      <div class="offcanvas-header">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="SpacePirates" width="230"/>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body p-0">
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Aktuelles/"><span class="mi me-3">&#xF588;</span>Aktuelles</a>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Kontakt"><span class="mi me-3">&#xF4DB;</span>Kontakt</a>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Publikationen/"><span class="mi me-3">&#xF194;</span>Publikationen</a>
        <hr class="dropdown-divider my-2"/>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Spielregeln/"><span class="mi me-3">&#xF3E2;</span>Spielregeln</a>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Weltraum/"><span class="mi me-3">&#xF845;</span>Weltraum</a>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Weltraum/Sternenkarte/"><span class="mi me-3">&#xF47F;</span>Sternenkarte</a>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Abenteuer/"><span class="mi me-3">&#xF2D1;</span>Abenteuer</a>
        <hr class="dropdown-divider my-2"/>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Zufallstabellen/"><span class="mi me-3">&#xF544;</span>Zufallstabellen</a>
        <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Ideenhalde/"><span class="mi me-3">&#xF675;</span>Ideenhalde</a>
        <hr class="dropdown-divider my-2"/>
        <a class="dropdown-item py-2 px-3" href="https://github.com/jcorporation/spacepirates"><span class="mi me-3">&#xF3ED;</span>GitHub Repository</a>
      </div>
    </div>
    <div data-bs-theme="dark" class="offcanvas offcanvas-end" tabindex="-1" id="search-menu">
      <div class="offcanvas-header">
        <input type="text" class="form-control" placeholder="Suchen" id="inputSearch"/>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body p-0">
        <div class="list-group list-group-flush" id="searchResult"></div>
      </div>
    </div>
    <div data-bs-theme="dark" class="offcanvas offcanvas-end" tabindex="-1" id="sitemap-menu">
      <div class="offcanvas-header">
        <h5>Sitemap</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body p-0">
        {% include sitemap.html %}
      </div>
    </div>
    <header class="navbar navbar-expand-sm navbar-dark bg-sterne">
      <nav class="container-xxl flex-column flex-wrap flex-md-nowrap pt-3">
        <a class="navbar-brand p-0 mb-4" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/logo.png" alt="SpacePirates" width="398" height="93"/>
        </a>
      </nav>
    </header>
    <header class="navbar navbar-expand-md py-2 mb-2 bg-yellow">
      <div class="container-xxl flex-nowrap">
        <button id="btnMainMenu" data-bs-toggle="offcanvas" data-bs-target="#main-menu" class="btn btn-sm btn-yellow border-0 mi me-2">&#xF479;</button>
        <nav class="breadcrumb flex-wrap flex-grow-1 mb-0 justify-content-start">
          {% include breadcrumbs.md %}
        </nav>
        <button id="btnSearch" data-bs-toggle="offcanvas" data-bs-target="#search-menu" class="btn btn-sm btn-yellow border-0 mi ms-2">&#xF52A;</button>
      </div>
    </header>
    <div class="container-xxl py-2 flex-grow-1">
        {{ content }}
    </div>
    <footer class="footer-bottom bg-light" id="footer">
      <nav class="container-xxl d-flex align-items-center justify-content-between">
        <div></div>
        <div>
          <a class="p-2" href="https://www.jcgames.de/">
            <img width="103" height="47" src="{{ site.baseurl }}/assets/images/jcgames-logo.png"/>
          </a>
        </div>
        <div>
          {% include navigate.md data=page.permalink %}
        </div>
      </nav>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-native.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/default.js"></script>
  </body>
</html>
