<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="theme-color" content="#ffcc00"/>  
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
    <link href="{{ site.baseurl }}/spacepirates.webmanifest" rel="manifest" crossorigin="use-credentials"/>
    <link href="{{ site.baseurl }}/assets/bootstrap-icons.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.baseurl }}/assets/css/default.css" rel="stylesheet" type="text/css"/>
    <link href="{{ site.baseurl }}/assets/images/appicon-192.webp" rel="apple-touch-icon"/>
    <link href="{{ site.baseurl }}/assets/images/appicon-192.webp" rel="icon"/>
    <link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}"/>
  </head>
  <body>
    <header id="top-bar" class="navbar py-2 mb-0 bg-yellow sticky-top">
      <div class="container-xxl flex-nowrap">
        <div class="btn-group yellow" id="main-menu-btn">
          <a data-bs-toggle="offcanvas" href="#main-menu" class="btn mi me-3">&#xF479;</a>
        </div>
        <nav class="breadcrumb flex-wrap flex-grow-1 mb-0 justify-content-start me-3">
          {% include breadcrumbs.md %}
        </nav>
        {% include navigate.md data=page.permalink class="yellow" %}
      </div>
    </header>
    <div class="container-xxl py-2 flex-grow-1 pt-0">
      <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3 gx-5 gy-3 me-0">
        <div data-bs-theme="dark" class="offcanvas offcanvas-start col col-xxl-3" tabindex="-1" id="main-menu">
          <div class="offcanvas-header pb-4">
            <div class="w-100 text-center">
              <img width="230" src="{{ site.baseurl }}/assets/images/logo-schriftzug-web.svg" alt="SpacePirates"/>
              <button type="button" class="btn-close btn-close-white float-end" data-bs-dismiss="offcanvas"></button>
              <nav class="nav nav-pills nav-justified mt-4">
                <a class="nav-link mi active" data-bs-toggle="tab" href="#tab-menu" title="Menu">&#xF479;</a>
                <a class="nav-link mi" data-bs-toggle="tab" href="#tab-sitemap" title="Sitemap" id="nav-sitemap">&#xF2EC;</a>
                <a class="nav-link mi" data-bs-toggle="tab" href="#tab-search" title="Suchen" id="nav-search">&#xF52A;</a>
              </nav>
            </div>
          </div>
          <div class="offcanvas-body p-0" id="main-menu-body">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-menu">
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Aktuelles/"><span class="mi me-3">&#xF588;</span>Aktuelles</a>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Kontakt"><span class="mi me-3">&#xF4DB;</span>Kontakt</a>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Publikationen/"><span class="mi me-3">&#xF194;</span>Publikationen</a>
                <hr class="dropdown-divider my-2"/>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Spielregeln/"><span class="mi me-3">&#xF3E3;</span>Spielregeln</a>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Weltraum/"><span class="mi me-3">&#xF845;</span>Weltraum</a>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Weltraum/Sternenkarte/"><span class="mi me-3">&#xF47F;</span>Sternenkarte</a>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Abenteuer/"><span class="mi me-3">&#xF2D1;</span>Abenteuer</a>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Zufallstabellen/"><span class="mi me-3">&#xF544;</span>Zufallstabellen</a>
                <a class="dropdown-item py-2 px-3" href="{{ site.baseurl }}/Ideenhalde/"><span class="mi me-3">&#xF675;</span>Ideenhalde</a>
                <hr class="dropdown-divider my-2"/>
                <a class="dropdown-item py-2 px-3" href="https://github.com/jcorporation/spacepirates"><span class="mi me-3">&#xF3ED;</span>GitHub Repository</a>
              </div>
              <div class="tab-pane" id="tab-sitemap">
                <div id="sitemap-body"></div>
              </div>
              <div class="tab-pane" id="tab-search">
                <div class="px-3 mb-3">
                  <input type="text" class="form-control" placeholder="Suchen" id="inputSearch"/>
                </div>
                <div class="list-group list-group-flush" id="searchResult"></div>
              </div>
            </div>
          </div>
        </div>
        {{ content }}
      </div>
    </div>
    <footer class="footer-bottom bg-light" id="footer">
      <nav class="container-xxl d-flex align-items-center justify-content-between pb-4">
        <div class="btn-group">
          <a href="https://github.com/jcorporation/spacepirates/tree/master/{{ page.path }}" class="btn border mi" title="Editieren" target="_blank" rel="nofollow">&#xF4CA;</a>
        </div>
        <div>
          <a class="p-2" href="https://www.jcgames.de/">
            <img src="{{ site.baseurl }}/assets/images/jcgames-logo.webp" width="103" height="47" alt="jcgames"/>
          </a>
        </div>
        {% include navigate.md data=page.permalink %}
      </nav>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-native.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/data_names.js"></script>
    <script src="{{ site.baseurl }}/assets/js/zufallstabellen.js"></script>
    <script src="{{ site.baseurl }}/assets/js/zufallsgenerator.js"></script>
    <script src="{{ site.baseurl }}/assets/js/default.js"></script>
  </body>
</html>
