<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
    <link href="{{ site.baseurl }}/assets/bootstrap-icons.woff2" rel="preload" type="font/woff2" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/Weltraum/Sternenkarte/karte.css"/>
    <link href="{{ site.baseurl }}/assets/images/appicon-192.png" rel="apple-touch-icon"/>
    <link href="{{ site.baseurl }}/assets/images/appicon-192.png" rel="icon"/>
  </head>
  <body class="p-1 bg-yellow">
    <main class="container-fluid p-0">
      {{ content }}
    </main>
    <div class="modal modal-lg fade" id="infopanel" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-yellow pb-0">
            <ul class="nav nav-tabs border-bottom-0">
              <li class="nav-item">
                <a class="nav-link link-dark active" href="#infoTab" data-bs-toggle="tab">Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-dark" href="#searchTab" data-bs-toggle="tab">Suche</a>
              </li>
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div class="tab-pane active show" id="infoTab"></div>
              <div class="tab-pane" id="searchTab">
                <div class="list-group list-group-flush" id="searchTabResult">
                  <div class="list-group-item">Auf die Beschriftung klicken, um zu suchen.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-native.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/data_names.js"></script>
    <script src="{{ site.baseurl }}/assets/js/zufallstabellen.js"></script>
    <script src="{{ site.baseurl }}/assets/js/zufallsgenerator.js"></script>
    <script src="{{ site.baseurl }}/assets/js/default.js"></script>
    <script src="{{ site.baseurl }}/Weltraum/Sternenkarte/karte.js"></script>
    <script src="{{ site.baseurl }}/Weltraum/Sternenkarte/sternenkarte.js"></script>
  </body>
</html>
